In [ ]:
import pandas as pd
import numpy as np

df_sales = pd.read_excel(r'C:\Users\yogan\OneDrive\Desktop\reliance\Reliance ResQ Sales data & Claim Data.xlsx', sheet_name=0)
df_claims = pd.read_excel(r'C:\Users\yogan\OneDrive\Desktop\reliance\Reliance ResQ Sales data & Claim Data.xlsx', sheet_name=1)

df_sales.shape, df_claims.shape

((29751, 28), (144, 12))

In [25]:
df_claims.columns

Index(['Call Code', 'Day of Call_Date', 'Day of Product Purchased Date 2',
       'Day of Repair Completion Date', 'Warranty Type',
       'Product Brand(Group)', 'Product Coverage', 'Claim_Amount',
       'Customer Paid', 'Last Estimation Amount (All Claims Report)',
       'One time deductible', 'Zopper's Cost'],
      dtype='object')

In [26]:
df_claims_25 = df_claims[df_claims['Day of Call_Date'].dt.year == 2025].copy()

In [27]:
df_claims_25['Day of Call_Date'].shape

(132,)

In [28]:
df_sales.head()

,Transaction Total,Transaction Date,Plan Start Date,Week,Month,Plan End Date,Duration,Duration.1,Plan ID,Mobile No,...,Manufacturer Warranty,Plan Type,Plan Tenure,Plan Range,Plan Min,Plan Max,Transfer Price,Zopper Share,Plan Duration,Zopper Shared ( Transfer Price )
0,False,2025-04-01 00:00:00,2026-04-01 00:00:00,14,Apr,2027-04-01 00:00:00,365.0,NaN,UNK6539159,NaN,...,UNK6539159,Extended Warranty,12,20001 to 25000,20001,25000,112.5,1549,12,112.5
1,False,2025-04-01 00:00:00,2026-04-01 00:00:00,14,Apr,2027-04-01 00:00:00,365.0,NaN,UNK8692776,NaN,...,UNK8692776,Extended Warranty,12,20001 to 25000,20001,25000,112.5,1549,12,112.5
2,False,2025-04-01 00:00:00,2026-04-01 00:00:00,14,Apr,2027-04-01 00:00:00,365.0,NaN,UNK9001520,NaN,...,UNK9001520,Extended Warranty,12,20001 to 25000,20001,25000,112.5,1549,12,112.5
3,False,2025-04-01 00:00:00,2026-04-01 00:00:00,14,Apr,2027-04-01 00:00:00,365.0,NaN,UNK2706095,NaN,...,UNK2706095,Extended Warranty,12,20001 to 25000,20001,25000,112.5,1549,12,112.5
4,False,2025-04-01 00:00:00,2026-04-01 00:00:00,14,Apr,2027-04-01 00:00:00,365.0,NaN,UNK8509765,NaN,...,UNK8509765,Extended Warranty,12,20001 to 25000,20001,25000,112.5,1549,12,112.5

In [29]:
df_sales.isnull().sum()

Transaction Total                       0
Transaction Date                        0
Plan Start Date                         0
Week                                    0
Month                                   0
Plan End Date                           0
Duration                            42574
Duration.1                          68481
Plan ID                                 0
Mobile No                            1831
City                                   53
State                                   0
Pincode                                 0
Product Selling Price                   0
Brand                                   0
Apple/And                               0
Product Description                  1831
Serial No./IMEI                         0
Manufacturer Warranty                   0
Plan Type                               0
Plan Tenure                             0
Plan Range                              0
Plan Min                                0
Plan Max                                0
Transfer Price                          0
Zopper Share                            0
Plan Duration                           0
Zopper Shared ( Transfer Price )        0
dtype: int64

In [30]:
df_sales['Brand'] = df_sales['Brand'].replace(
     {
    'Idea': 'Lenovo',
    'Pad': 'Redmi',
    'GooglePixel': 'Google'
})

In [31]:
df_sales.columns

Index(['Transaction Total', 'Transaction Date', 'Plan Start Date', 'Week',
       'Month', 'Plan End Date', 'Duration', 'Duration.1', 'Plan ID',
       'Mobile No', 'City', 'State', 'Pincode', 'Product Selling Price',
       'Brand', 'Apple/And', 'Product Description', 'Serial No./IMEI',
       'Manufacturer Warranty', 'Plan Type', 'Plan Tenure', 'Plan Range',
       'Plan Min', 'Plan Max', 'Transfer Price', 'Zopper Share',
       'Plan Duration', 'Zopper Shared ( Transfer Price )'],
      dtype='object')

In [32]:
df_sales['Plan Type'].unique()

array(['Extended Warranty', 'ADLD', 'Cracked Screen'], dtype=object)

In [33]:
df_sales = df_sales.drop(['Transaction Total','Transaction Date','Week','Plan ID','Mobile No','City','Pincode','Product Description','Duration','Duration.1','Manufacturer Warranty','Plan Tenure','Serial No./IMEI'], axis = 1)
df_sales.isnull().sum()

Plan Start Date                     0
Month                               0
Plan End Date                       0
State                               0
Product Selling Price               0
Brand                               0
Apple/And                           0
Plan Type                           0
Plan Range                          0
Plan Min                            0
Plan Max                            0
Transfer Price                      0
Zopper Share                        0
Plan Duration                       0
Zopper Shared ( Transfer Price )    0
dtype: int64

In [34]:
df_claims_25.isnull().sum()

Call Code                                       0
Day of Call_Date                                0
Day of Product Purchased Date 2                 0
Day of Repair Completion Date                   0
Warranty Type                                   0
Product Brand(Group)                            0
Product Coverage                                0
Claim_Amount                                    7
Customer Paid                                 106
Last Estimation Amount (All Claims Report)      0
One time deductible                             2
Zopper's Cost                                   0
dtype: int64

In [35]:
df_claims_25['Warranty Type'] = df_claims_25['Warranty Type'].replace({
    'Screen Protection': 'Cracked Screen'
})

In [36]:
df_claims_25['Product Brand(Group)'] = df_claims_25['Product Brand(Group)'].replace({'OPPO': 'Oppo'})

In [37]:
df_claims_25['One time deductible'] = df_claims_25['One time deductible'].fillna(999)
df_claims_25['One time deductible'].isnull().sum()

np.int64(0)

In [38]:
df_claims_25 = df_claims_25.dropna(subset=['Claim_Amount'])
df_claims_25['Claim_Amount'].shape

(125,)

In [39]:
df_sales = df_sales.rename(columns = {'Zopper Share': 'Plan Selling Price'})

In [40]:
df_sales['Gross Premium'] = df_sales['Plan Selling Price']
df_sales['Gross Premium'].sum()

np.int64(213757318)

In [43]:
# --- COVERAGE & EARNED PREMIUM CALCULATION (2025 ONLY) ---

start_2025 = pd.Timestamp('2025-01-01')
end_2025   = pd.Timestamp('2025-12-31')

# --- TOTAL POLICY COVERAGE (INCLUSIVE) ---
df_sales['Coverage Days'] = (
    df_sales['Plan End Date'] - df_sales['Plan Start Date']
).dt.days + 1

# --- EARNED WINDOW LIMITED TO 2025 (INCLUSIVE) ---
earned_start = df_sales['Plan Start Date'].where(
    df_sales['Plan Start Date'] > start_2025, start_2025
)

earned_end = df_sales['Plan End Date'].where(
    df_sales['Plan End Date'] < end_2025, end_2025
)

df_sales['Exposure Days'] = (
    earned_end - earned_start
).dt.days + 1

# --- REMOVE NON-2025 EXPOSURE ---
df_sales.loc[df_sales['Exposure Days'] < 0, 'Exposure Days'] = 0

# --- EARNED PREMIUM ---
df_sales['Earned Premium'] = (
    df_sales['Gross Premium'] *
    df_sales['Exposure Days'] /
    df_sales['Coverage Days']
)

# --- ZOPPER EARNED PREMIUM ---
df_sales['Zopper Earned Premium'] = (
    df_sales['Earned Premium'] *
    (df_sales['Zopper Shared ( Transfer Price )'] / 100)
)

print("Earned Premium:", round(df_sales['Earned Premium'].sum(), 2))
print("Zopper Earned Premium:", round(df_sales['Zopper Earned Premium'].sum(), 2))

KeyError: 'Gross Premium'

In [ ]:
df_sales['Earned Premium'] = (
    df_sales['Gross Premium'] *
    (df_sales['Exposure Days'] / df_sales['Coverage Days'])
)

In [ ]:
df_sales['Earned Premium'].sum()

In [ ]:
sp = df_sales['Zopper Shared ( Transfer Price )']*1.18
sp.sum()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

brand_ep = (
    df_sales
    .groupby('Plan Type')['Gross Premium']
    .sum()
    .sort_values(ascending=False)
)

fig, ax = plt.subplots(figsize=(8, 4))

bars = ax.bar(brand_ep.index, brand_ep.values)

ax.set_title(' Gross Premium by Plan Type - 2025')
ax.set_ylabel('Premium (INR)')
ax.set_xticklabels(brand_ep.index, rotation=45, ha='right')
ax.grid(axis='y', linestyle='--', alpha=0.6)

for bar in bars:
    h = bar.get_height()
    ax.text(
        bar.get_x() + bar.get_width()/2,
        h,
        f'{h/1e7:.2f} Cr',
        ha='center',
        va='bottom',
        fontsize=9
    )

plt.tight_layout()
plt.show()

In [ ]:
brand_ep = (
    df_sales
    .groupby('Plan Type')['Earned Premium']
    .sum()
    .sort_values(ascending=False)
)

fig, ax = plt.subplots(figsize=(8, 4))

bars = ax.bar(brand_ep.index, brand_ep.values)

ax.set_title(' Earned Premium by Plan Type – 2025')
ax.set_ylabel('Premium (INR)')
ax.set_xticklabels(brand_ep.index, rotation=45, ha='right')
ax.grid(axis='y', linestyle='--', alpha=0.6)

for bar in bars:
    h = bar.get_height()
    ax.text(
        bar.get_x() + bar.get_width()/2,
        h,
        f'{h/1e7:.2f} Cr',
        ha='center',
        va='bottom',
        fontsize=9
    )

plt.tight_layout()
plt.show()

In [ ]:
gross_premium_by_brand = (
    df_sales
    .groupby('Plan Type')['Gross Premium']
    .sum()
)

earned_premium_by_brand = (
    df_sales
    .groupby('Plan Type')['Earned Premium']
    .sum()
)

zopper_earned_by_brand = (
    df_sales
    .groupby('Plan Type')['Zopper Earned Premium']
    .sum()
)

brand_data = (
    pd.concat(
        [
            gross_premium_by_brand,
            earned_premium_by_brand,
            zopper_earned_by_brand
        ],
        axis=1
    )
    .fillna(0)
)

brand_data.columns = [
    'Gross Premium',
    'Earned Premium',
    'Zopper Earned Premium'
]

brand_data = brand_data.sort_values(
    'Earned Premium',
    ascending=False
)

x = np.arange(len(brand_data))
width = 0.25

fig, ax = plt.subplots(figsize=(20, 10))

b0 = ax.bar(x - width, brand_data['Gross Premium'], width, label='Gross Premium')
b1 = ax.bar(x,         brand_data['Earned Premium'], width, label='Earned Premium')
b2 = ax.bar(x + width, brand_data['Zopper Earned Premium'], width, label='Zopper Earned Premium')

ax.set_title('Gross vs Earned vs Zopper Earned Premium by Plan Type – 2025')
ax.set_ylabel('Amount (INR)')
ax.set_xticks(x)
ax.set_xticklabels(brand_data.index, rotation=45, ha='right')
ax.legend()
ax.grid(axis='y', linestyle='--', alpha=0.6)

for bars in [b0, b1, b2]:
    for bar in bars:
        h = bar.get_height()
        if h > 0:
            ax.text(
                bar.get_x() + bar.get_width() / 2,
                h,
                f'{h / 1e7:.2f} Cr',
                ha='center',
                va='bottom',
                fontsize=8
            )

plt.tight_layout()
plt.show()

In [ ]:
df_claims_25['Zopper\'s Cost'].sum()

In [ ]:
df_claims_25['Warranty Type'] = df_claims_25['Warranty Type'].replace({
    'Screen Protection': 'Cracked Screen'
})

In [ ]:
brand_data['Net Claims'] = (
    df_claims_25
    .groupby('Warranty Type')['Zopper\'s Cost']
    .sum()
)

brand_data['Loss Ratio (%)'] = (
    brand_data['Net Claims'] /
    brand_data['Zopper Earned Premium'] * 100
).replace([np.inf, -np.inf], 0).fillna(0)

In [ ]:
brand_data[['Net Claims', 'Loss Ratio (%)']].sort_values(
    'Loss Ratio (%)', ascending=False
)

In [ ]:
gross_premium_by_brand = (
    df_sales
    .groupby('Plan Type')['Gross Premium']
    .sum()
)

earned_premium_by_brand = (
    df_sales
    .groupby('Plan Type')['Earned Premium']
    .sum()
)

zopper_earned_by_brand = (
    df_sales
    .groupby('Plan Type')['Zopper Earned Premium']
    .sum()
)

zopper_claim_by_brand = (
    df_claims_25
    .groupby('Warranty Type')["Zopper's Cost"]
    .sum()
)

deductible_by_brand = (
    df_claims_25
    .groupby('Warranty Type')['One time deductible']
    .sum()
)

brand_data = (
    pd.concat(
        [
            gross_premium_by_brand,
            earned_premium_by_brand,
            zopper_earned_by_brand,
            zopper_claim_by_brand,
            deductible_by_brand
        ],
        axis=1
    )
    .fillna(0)
)

brand_data.columns = [
    'Gross Premium',
    'Earned Premium',
    'Zopper Earned Premium',
    "Zopper's Cost",
    'One time deductible'
]

brand_data = brand_data.sort_values('Earned Premium', ascending=False)

brand_data['Net Claims'] = (
    brand_data["Zopper's Cost"] - brand_data['One time deductible']
)

brand_data['Loss Ratio (%)'] = (
    brand_data['Net Claims'] / brand_data['Zopper Earned Premium'] * 100
).replace([np.inf, -np.inf], 0).fillna(0)

x = np.arange(len(brand_data))
width = 0.16

fig, ax = plt.subplots(figsize=(20, 10))

b0 = ax.bar(x - 2*width, brand_data['Gross Premium'], width, label='Gross Premium')
b1 = ax.bar(x - width,   brand_data['Earned Premium'], width, label='Earned Premium')
b2 = ax.bar(x,           brand_data['Zopper Earned Premium'], width, label='Zopper Earned Premium')
b3 = ax.bar(x + width,   brand_data["Zopper's Cost"], width, label='Zopper Claim Cost')
b4 = ax.bar(x + 2*width, brand_data['One time deductible'], width, label='One Time Deductible')

ax.set_title('Plan-wise Premium, Claims & Loss Ratio – 2025')
ax.set_ylabel('Amount (INR)')
ax.set_xticks(x)
ax.set_xticklabels(brand_data.index, rotation=45, ha='right')
ax.grid(axis='y', linestyle='--', alpha=0.6)

ax2 = ax.twinx()
ax2.plot(
    x,
    brand_data['Loss Ratio (%)'],
    color='red',
    marker='o',
    linewidth=1.5,
    label='Loss Ratio (%)'
)
ax2.set_ylabel('Loss Ratio (%)')
ax2.set_ylim(0, brand_data['Loss Ratio (%)'].max() * 1.1)

for i, v in enumerate(brand_data['Loss Ratio (%)']):
    ax2.text(
        x[i],
        v,
        f'{v:.1f}%',
        color='red',
        ha='left',
        va='bottom',
        fontsize=12
    )

for bars in [b0, b1, b2, b3, b4]:
    for bar in bars:
        h = bar.get_height()
        if h > 0:
            ax.text(
                bar.get_x() + bar.get_width()/2,
                h,
                f'{h/1e5:.2f} L',
                ha='center',
                va='bottom',
                fontsize=10
            )

lines1, labels1 = ax.get_legend_handles_labels()
lines2, labels2 = ax2.get_legend_handles_labels()
ax.legend(lines1 + lines2, labels1 + labels2, loc='upper right')

plt.tight_layout()
plt.show()